# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media/

# Ambientes Virtuais (ajuste se o nome da sua pasta for diferente)
venv/
env/
.env/
.venv/

# Editor de Texto
.vscode/
.idea/